@font-face
{
  font-family:Brandon;
  src:url('fonts/Brandon.otf')
} /*шрифты*/
body{
  font-family: Brandon;
}
.section-1{
background-image:url(images/bg/Escape.jpg);
background-repeat: no-repeat;
background-size:cover; 
padding: 50px 0 125px;
}/*секция с банером*/
.menu{
  line-height: 30px;
}
.menu a{ 
    font-size: 18px;
  color:#fff;
  text-decoration: none;
  text-align: center;
  padding-left: 28px;
}/*меню*/
.menu a:hover{
  text-decoration: none;
  color:#fff;
}
header{
  margin-bottom: 155px;
}/*шапка*/
.zag1  { 
font-size: 32px;
color:#fff;
margin-bottom: 50px;
 } /*абзац*/

.h1{
  font-size: 66px;
font-weight: bold;
text-transform: uppercase;
margin-bottom: 80px;
color:#fff;
} /*заголовок*/
.button {
text-decoration:none;
font-size: 18px;
font-weight: bold;
color:#fff;
border:3px solid #fff;
border-radius: 2%;
 padding: 20px 68px 24px 68px;
margin: 0 auto;
}/*кнопка*/
.section-2, .section-4{
background-color: #fff;
padding: 100px 0 100px 0;
}
.h2{
    font-size: 60px;
    color: #000;
    margin-bottom: 50px;
}/*заголовок секции 2*/
.h2 span{
    font-weight: 900;
}/*второе слово в заголовке*/
.section-2 p, .section-3 p{
    font-size: 18px;
    color: rgb(119, 119, 119);
    line-height: 1.333;
}
.section-3, .section-5{
  background-color: #fafafa;
  padding: 100px 0 100px 0;
}
.section-4 ul {
    list-style-type: none;
    }
.list1 {
    margin-right: 75px;
}
.list1 li, .list2 li {
    max-width: 385px;
    width: 100%;
    text-align: left;
}
.list1 li:nth-child(1) {
    background: url(images/ico/ico1.png) no-repeat left top;
    background-size: 75px 75px;
    padding: 0 0 0 90px;
}
.list1 li:nth-child(2) {
    background: url(images/ico/ico2.png) no-repeat left top;
    padding: 0 0 0 90px;
}
.list1 li:nth-child(3) {
    background: url(images/ico/ico3.png) no-repeat left top;
    padding: 0 0 0 90px;
}
.list2 li:nth-child(1) {
    background: url(images/ico/ico4.png) no-repeat left top;
    padding: 0 0 0 90px;
}
.list2 li:nth-child(2) {
    background: url(images/ico/ico5.png) no-repeat left top;
    padding: 0 0 0 90px;
}
.list2 li:nth-child(3) {
    background: url(images/ico/ico6.png) no-repeat left top;
    padding: 0 0 0 90px;
}
.section-4 h2 {
    font-size: 22px;
    margin-bottom: 10px;
}
.section-4 p{
  font-size: 18px;
    color: rgb(119, 119, 119);
    line-height: 1;
    margin-bottom: 55px;
}

.section-5 .h2 {
    font-size: 60px;
    margin-bottom: 15px;
}
.see {
    font-size: 22px;
    color: rgb(119, 119, 119);
    margin-bottom: 40px;
}/*абзац под заголовком 5-й секции*/
.section-5 .man_1 {
    margin-bottom: 50px;
}
.section-5 .man_1 article, .section-5 .man_2 article {
    position: relative;
    padding: 30px 0 40px 0;
    text-align: center;
    background-color: #fff;
    border: 2px solid #f1f1f1;
    box-shadow: 2px 2px 4px #888;
}
.section-5 .man_1 article::before, .man_1 article::after {
    content: '';
    position: absolute;
    left: -40px;
    top: 70px;
    border: 20px solid transparent;
    border-right: 20px solid #f1f1f1;
}
.section-5 .man_1 article::after {
    border-right: 20px solid #fff;
    left: -38px;
}
.section-5 .man_2 article::before , .man_2 article::after{
    content: ''; 
    position: absolute;
    right: -40px;
    top: 70px;
   border: 20px solid transparent; 
   border-left: 20px solid #f1f1f1;
   }
 .section-5 .man_2 article::after {
    border-left: 20px solid #fff;
    right: -38px; 
   }
.section-5 .man_1 q, .man_2 q {
    font-size: 23px;
    color: rgb(119, 119, 119);
    line-height: 1.1;
      quotes: "\201c" "\201d";
}
.section-5 p.author {
    font-size: 20px;
    color: rgb(118, 144, 197);
    line-height: 1.8;
    }
.section-6 {
    background-color:#fff;
    padding: 60px 0 60px 0;
}
.section-7{
    background-color:#111;
    padding: 100px 0 100px 0;
}
.section-7 p.up {
  font-size: 18px;
    color: rgb(119, 119, 119);
    line-height: 1.333;
    margin-bottom: 60px;
}
.section-7 .h2
{
  color:#fff;
  margin-bottom: 18px;
}
.section-7 .h3 {
    font-weight: 900;
}
.section-7 .h3, .section-7 p{  
color: #fff;
 margin-bottom: 13px;
  }
  .section-7 .social
{
list-style-type: none;
  margin-bottom: 45px;
}
.section-7 .social i {
  color:#fff;
  border:3px solid #fff;
  border-radius: 50% 50%;
  padding: 10px 10px 10px 10px;
}
.section-7 .fa-facebook{
   color:#fff;
  border:3px solid #fff;
  border-radius: 50% 50%;
  padding: 10px 12px 10px 12px;
}
  .section-7  .down {
  font-size: 18px;
    color: rgb(119, 119, 119);
    line-height: 1.333;
  }
  .section-8{
    background: #7690c5;
    padding: 100px 0 100px 0;
  }
  .section-8 .h2{
     font-size: 60px;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 30px;
  }
   .section-8 p{
  color:#fff;
  margin-bottom: 50px;
  font-size: 18px;
}
  
.form input, .form textarea{
width:100%;
max-width: 458px;
border-radius: 2%;
}
/* растояние между полями*/
.form input {
min-height:50px;
} 
.form input[type="text"]{
  margin-bottom: 29px;
}
.form input[type="email"]{
  margin-bottom: 20px;
}
.form textarea
{
min-height:210px;
resize: none; /* не меняет размер поля  */
} 
.form input[type="text"]::placeholder, .form input[type="email"]::placeholder, .form textarea::placeholder
{
font-size: 18px;
line-height: 1.2;
color: rgb(187, 187, 187);
padding:16px 0  0 18px;/*отступ текста от края формы */
  }
  .section-8 ul{
    list-style-type: none;
  
}
.section-8 li{
      margin-bottom: 40px;
}
.section-8 a{
  text-decoration: none;
    color: #fff;
}
.section-8 i{
  margin-right: 14px;
  font-size: 18px;
}
.footer
{
background-color:  #7690c5;
border-top: 1px solid #87a0d2;
    padding: 30px 0 33px 0;
}
.footer p {
     font-size: 16px;
    color: rgb(255, 255, 255);
}